body{
  background-color: #FF676D;
}
.nav .right{
    float: right;
    
    background-color:#FF676D;
    color: #a9e4f7;
}
.nav{
    background-color: #FF676D;
    overflow: hidden;
  }
  .nav a {
    float: left;
    color: #FF676D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .nav a:hover {
    background-color: rgb(83, 74, 74);
    color: black;
  }
  .nav a.active {
    background-color: #FF676D;
    color: white;
  }